{% extends 'base.html.twig' %}

{% form_theme serieForm 'views/form/form-theme.html.twig' %}

{% block body %}
    <h1>Add a TV Show</h1>

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Create a TV Show !</button>
    {{ form_end(serieForm) }}
{% endblock %}

